[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pillow = "*"
flask-migrate = "*"
flask-login = "*"
flask-wtf = "*"
email-validator = "*"
flask-dance = "*"
flask-debugtoolbar = "*"
flask-mail = "*"
flask-oauthlib = "*"
flask-oauth = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
